body{
	width:660px;
	height:550px;
	margin-left:50px;
}
.main{
	width: 100%;
	height:100%;
	background: #fff;
	margin-top: 30px;
	padding: 10px;
	border-radius: 25px;/*为div元素添加四角元素*/
	box-shadow:0px 15px 25px rgba(190,190,190,0.2);
}
.title{
	position:relative;
	width:80%;
	height:auto;
	text-align:center;
	font-size:1.8em;
	color:#FFA500;
}
.score{
	width:100%;
	height:auto;
	margin-top:10px;
	margin-left:40px;
}
